header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
  border-bottom: 1px solid #eee;
  font-size: 20px;
}
.header-logo {
  font-size: 30px;
  font-weight: 600;
}
.logo {
  width: 10%;
  margin-right: 5px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  padding: 0.5rem 1.7rem;
  color: black;
  font-weight: 600;
  transition: 0.5s;
}
.nav-link:hover {
  letter-spacing: 2px;
  border-bottom: 2px solid red;
  color: red;
}
